<div class="col-md-12 col-lg-12 col-sm-12  ">
<div class="col-md-12 row header">
  <div class="col-md-12">
    <img src="../assets/img/tiger.jpeg" style="height:72px; width:72px;border-radius:50px; float:left">
     <h2 style="text-align:center;color:black;">CRUD OPERATION</h2>
  </div>
  </div>  
<div class="col-md-12">
	<div class="row">

<router-outlet></router-outlet>
</div>

</div>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 footer display">
  <div>
  	<ul>
  		<li>contact us</li>
  		<li>about us</li>
  	</ul>
  </div>
</div>
